{% extends "servicios.html" %}
{% block title %}Crear producto{% endblock %}
{% block contents %}
{% if rol == "SuperAdmin" or rol == "Admin"   %}

<div class="content-form-proveedor">
    <h1>Crear Producto</h1><br>
    <div class="formulario-wrapper">
        <div class="proveedores-form">
            <form id="limpiarform" action="/crear/producto" method="POST">
                {{ csrf_token }}

                <p>
                    <label>Codigo:</label>
                    <input type="number" name="codigo" id="codigo" value="{{codigo}}" required>
                </p>
                
                <p>
                    <label>Marca:</label><br>
                    <select name="selectlinea" id="">
                    {% if id_linea==0 %}
                        <option value=0 >--Escoja una marca--</option>
                    {% endif %}
                    {% for i in range(longl) %}
                        {% if  id_linea == rowl[i]['id_linea'] %}
                        <option value="{{rowl[i]['id_linea']}}" selected>{{rowl[i]['nom_linea']}}</option>
            
                        {% else %}
                        <option value="{{rowl[i]['id_linea']}}">{{rowl[i]['nom_linea']}}</option>
                        {% endif %}
                    {% endfor %}
                    </select> 
                </p>

                <p>
                    <label>Proveedor: </label><br>
                    <select name="selectprov" id="">
                        {% if proveedor==0 %}
                        <option value=0>--Escoja un Proveedor--</option>
                        {% endif %}
                    {% for i in range(longp) %}
                        {% if rowp[i]['id_proveedor']==Proveedor %}
                        <option value="{{rowp[i]['id_proveedor']}}" selected>{{rowp[i]['nom_proveedor']}} </option>
                        {% else %}
                        <option value="{{rowp[i]['id_proveedor']}}">{{rowp[i]['nom_proveedor']}} </option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </p>

                <p>
                    <label>Lote:</label>
                    <input type="number" name="lote" id="lote" min="1" value="{{lote}}" required>
                </p>

                <p>
                    <label>Descripcion:</label>
                    <textarea name="destxt" id="destxt" placeholder="color,tamaño,peso,funcionalidad,año,ect" required>{{descrp}}</textarea>
                </p>

                <p>
                    <label>Serial del producto:</label>
                    <input type="number" name="serpod" id="serprod"  min="1" value="{{serialprod}}" required>
                </p>

                <p>
                    <label>Fecha Lote:</label>
                    <input type="date" name="fechlot" id="fechlot"  min="1" value="{{fechaLote}}" required>
                </p>

                <p>
                    <label> Min:</label>
                    <input type="number" name="num2" id="num2" min="1" value="{{cantRequerida}}" required>
                </p>

                <p>
                    <label>Cantidad en bodega:</label>
                    <input type="number" name="num1" id="num1" required min="1" value="{{cantBodega}}" required>
                </p>

                <p>
                    <label>precio del prod:</label>
                    <input type="number" name="precio" id="precio" value="{{precioProd}}" required>
                </p>

                <p class="block">
                    <input class="btn" type="submit" name="btnagr"  value="Agregar" required>
                </p>

                {% for msg in get_flashed_messages() %}
                    <div align="center">
                        {{ msg }}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>

{% else %}
    <div class="centrado"><h1>Acceso Denegado</h1></div>
{% endif %}
{% endblock %}