{% extends "servicios.html" %}
{% block title %}Calificar Productos{% endblock %}
{% block contents %}
{% if session.rol == "SuperAdmin" or session.rol == "UsuarioFinal" %}
<div class="content-form-proveedor2">   
    <h1>Calificar Producto</h1><br>
    <div class="formulario-wrapper">
        <div class="proveedores-form2">
            <form action="" method="POST">
                {{ frm.hidden_tag() }}
                <p class="block">
                    <div class="rating">
                        <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                        <label for="star5" >☆</label>
                        <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                        <label for="star4" >☆</label>
                        <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                        <label for="star3" >☆</label>
                        <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                        <label for="star2" >☆</label>
                        <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                        <label for="star1" >☆</label>
                        <div class="clear"></div>
                    </div>
                </p>

                <p class="block">
                    {{ frm.sf_producto.label }}
                    {{ frm.sf_producto }}
                </p>
                <p class="block">
                    {{ frm.observaciones.label }}
                    {{ frm.observaciones }}
                </p>

                <p>
                    {{ frm.enviar }}
                </p>

                <p>
                    <form action="/servicios/calificar/listar">
                        <input type="submit" class="btn" name="btnagr"  value="Listar">
                    </form>
                </p>

                {% for msg in get_flashed_messages() %}
                    <div align="center">
                        {{ msg }}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>

{% else %}
    <div class="centrado"><h1>Acceso Denegado</h1></div>
{% endif %}
{% endblock %}