{% extends "servicios.html" %}
{% block title %}Stock Menor al Requerido{% endblock %}
{% block contents %}

<table id="tabla">
    <h3>Listado de Productos con Stock Menor al Requerido</h3><br>
    <thead>         
        <tr>
            <th>Codigo</th><th>Codigo linea</th><th>Productos</th><th>Stock</th><th>Cantidad minima requerida</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(long) %}
            {% if rows[i]['stock']<rows[i]['cant_requerida'] %}
                <tr><td>{{rows[i]['codigo']}}</td><td>{{rows[i]['id_linea']}}</td><td>{{rows[i]['nom_linea']}}</td><td>{{rows[i]['stock']}}</td><td>{{rows[i]['cant_requerida']}}</td></tr>
            {% endif %}
        {% endfor %}
        
    </tbody>
</table>
{% endblock %}