{% extends "base_bar_sup.html" %}

{% block title %}
Nuestros Servicios
{% endblock %}

{% block rol %} {{session.rol}} {% endblock %}

{% block menu %}
{% if session.rol == "SuperAdmin" %}
<nav class="navbar">
    <div id="sidemenu" class="menu-collapsed">
        <!-- HEADER MENU -->
        <div id="header" class="clearfix">
            <div id="title"> <span>Menu</span> </div>
            <div id="menu-btn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>
        <!-- PERFIL MENU -->
        <div id="perfil">
            <div id="foto"><img src="/static/icons/perfilvacio.png" alt=""></div>
        
            <div id="name"><span> {% block user %} {{session.usuario}} {% endblock %} </span></div>
        </div>

        <!-- ITEMS MENU -->

        <div id="menu-items">
            <div class="item" onmouseleave="hoveroffProductos()">
                <a href="/visualizar/producto">
                    <div class="icon"><img src="/static/icons/icons8_open_box.ico"></div>
                    <div class="title" onmouseenter="hoverOnProductos()"><span>Productos</span></div>
                </a>
                
                <ul id="sub-list-productos">
                    <div class="item separator"></div>
                    <li><a href="/marcas">Gestion Lineas</a></li>
                    <li><a href="/crear/producto" >Crear producto</a></li>
                    <li><a href="/editar/producto">Editar producto</a></li>
                    <li><a href="/eliminar/producto">Eliminar producto</a></li>
                    <li><a href="/buscar/producto">Buscar producto</a></li>
                    <li><a href="/reporte/list_prod_req">Generar listado de productos requeridos</a></li>
                    <li><a href="/servicios/calificar">Calificar producto</a></li>
                </ul>
            </div>

            <div class="item separator"></div>

            <div class="item" onmouseleave="hoveroffProveedores()">
                <a href="/proveedores">
                    <div class="icon"><img src="/static/icons/icons8_supplier.ico"></div>
                    <div class="title" onmouseenter="hoverOnProveedores()" ><span>Proveedores</span></div>
                </a>
                
                <ul id="sub-list-proveedor">
                    <div class="item separator"></div>
                    <li><a href="/crear/proveedor">Crear proveedor</a></li>
                    <li><a href="/editar/proveedor">Editar proveedor</a></li>
                    <li><a href="/eliminar/proveedor">Eliminar proveedor</a></li>
                    <li><a href="/buscar/proveedor">Buscar proveedor</a></li>
                    <li><a href="/reporte/b_proveexprod">Buscar proveedor por producto especifico</a></li>
                </ul>
            </div>

            <div class="item separator"></div>

            <div class="item" onmouseleave="hoveroffUsuarios()">
                <a href="/usuarios/visualizar">
                    <div class="icon"><img src="/static/icons/user2_50px.png"></div>
                    <div class="title" onmouseenter="hoverOnUsuarios()" ><span>Usuarios</span></div>
                </a>
                
                <ul id="sub-list-usuarios">
                    <div class="item separator"></div>
                    <li><a href="/usuario/registro">Crear usuario </a></li>
                    <li><a href="/usuarios/busqueda">Buscar usuario</a></li>
                    <li><a href="/usuario/cmbpassword">Cambiar contraseña</a></li>
                    
                </ul>
            </div>

            <div class="item separator"></div>

            <div class="item">
                <a href="/servicios/dash"">
                    <div class="icon"><img src="/static/icons/icons8_combo_chart.ico"></div>
                    <div class="title"><span>Dashboard</span></div>
                </a>
            </div>

            <div class="item separator"></div>
            
        </div>
    </div>
</nav>

{% elif session.rol == "Admin" %}
    <nav class="navbar">
        <div id="sidemenu" class="menu-collapsed">
            <!-- HEADER MENU -->
            <div id="header" class="clearfix">
                <div id="title"> <span>Menu</span></div>
                <div id="menu-btn">
                    <div class="btn-hamburger"></div>
                    <div class="btn-hamburger"></div>
                    <div class="btn-hamburger"></div>
                </div>
            </div>
            <!-- PERFIL MENU -->
            <div id="perfil">
                <div id="foto"><img src="/static/icons/perfilvacio.png" alt=""></div>
            
                <div id="name"><span> {% block user2 %} {{session.usuario}} {% endblock %} </span></div>
            </div>
    
            <!-- ITEMS MENU -->
    
            <div id="menu-items">
                <div class="item" onmouseleave="hoveroffProductos()">
                    <a href="/visualizar/producto">
                        <div class="icon"><img src="/static/icons/icons8_open_box.ico"></div>
                        <div class="title" onmouseenter="hoverOnProductos()" ><span>Productos</span></div>
                    </a>
                    
                    <ul id="sub-list-productos">
                        <div class="item separator"></div>
                        <li><a href="/crear/producto" >Crear producto</a></li>
                        <li><a href="/editar/producto">Editar producto</a></li>
                        <li><a href="/buscar/producto">Buscar producto</a></li>
                        <li><a href="/reporte/list_prod_req">Generar listado de productos requeridos</a></li>
                        <li><a href="#">Calificar producto</a></li>
                    </ul>
                </div>
    
                <div class="item separator"></div>
    
                <div class="item" onmouseleave="hoveroffUsuarios()">

                    <a href="/usuarios/visualizar">
                        <div class="icon"><img src="/static/icons/user2_50px.png"></div>
                        <div class="title" onmouseenter="hoverOnUsuarios()" ><span>Usuarios</span></div>
                    </a>
                    
                    <ul id="sub-list-usuarios">
                        <div class="item separator"></div>
                        <li><a href="/usuario/registro">Crear usuario </a></li>
                        <li><a href="/usuarios/busqueda">Buscar usuario</a></li>
                        <li><a href="/usuario/cmbpassword">Cambiar contraseña</a></li>
                        
                    </ul>
                </div>
    
                <div class="item separator"></div>
    
                <div class="item">
                    <a href="/servicios/dash">
                        <div class="icon"><img src="/static/icons/icons8_combo_chart.ico"></div>
                        <div class="title"><span>Dashboard</span></div>
                    </a>
                </div>
    
                <div class="item separator"></div>
                
            </div>
        </div>
    </nav>
{% elif session.rol == "UsuarioFinal" %}

    <nav class="navbar">
        <div id="sidemenu" class="menu-collapsed">
            <!-- HEADER MENU -->
            <div id="header" class="clearfix">
                <div id="title"> <span>Menu</span> </div>
                <div id="menu-btn">
                    <div class="btn-hamburger"></div>
                    <div class="btn-hamburger"></div>
                    <div class="btn-hamburger"></div>
                </div>
            </div>
            <!-- PERFIL MENU -->
            <div id="perfil">
                <div id="foto"><img src="/static/icons/perfilvacio.png" alt=""></div>
            
                <div id="name"><span> {% block user3 %} {{session.usuario}} {% endblock %} </span></div>
            </div>

            <!-- ITEMS MENU -->

            <div id="menu-items">
                <div class="item" onmouseleave="hoveroffProductos()">
                    <a href="/visualizar/producto">
                        <div class="icon"><img src="/static/icons/icons8_open_box.ico"></div>
                        <div class="title" onmouseenter="hoverOnProductos()" ><span>Productos</span></div>
                    </a>
                    
                    <ul id="sub-list-productos">
                        <div class="item separator"></div>
                        <li><a href="/editar/producto">Editar producto</a></li>
                        <li><a href="/buscar/producto">Buscar producto</a></li>
                        <li><a href="/reporte/list_prod_req">Generar listado de productos requeridos</a></li>
                        <li><a href="/servicios/calificar">Calificar producto</a></li>
                    </ul>
                </div>

                <div class="item separator"></div>

                <div class="item" onmouseleave="hoveroffProveedores()">
                    <a href="/proveedores">
                        <div class="icon"><img src="/static/icons/icons8_supplier.ico"></div>
                        <div class="title" onmouseenter="hoverOnProveedores()" ><span>Proveedores</span></div>
                    </a>
                    
                    <ul id="sub-list-proveedor">
                        <div class="item separator"></div>
                        <li><a href="/buscar/proveedor">Buscar proveedor</a></li>
                        <li><a href="/reporte/b_proveexprod">Buscar proveedor por producto especifico</a></li>
                    </ul>
                </div>

                <div class="item separator"></div>

                <div class="item" onmouseleave="hoveroffUsuarios()">

                    <a href="">
                        <div class="icon"><img src="/static/icons/user2_50px.png"></div>
                        <div class="title" onmouseenter="hoverOnUsuarios()" ><span>Usuarios</span></div>
                    </a>
                    
                    <ul id="sub-list-usuarios">
                        <div class="item separator"></div>
                        <li><a href="/usuario/cmbpassword">Cambiar contraseña</a></li>
                        
                    </ul>
                </div>

                <div class="item separator"></div>
                
            </div>
        </div>   
    </nav>
{% else %}
    <p>error</p>
{% endif %}
{% endblock %}

    
